.cart-items{
    display: flex;
    align-items: center;
}

.cart-items h4{
    margin: 0 10px;;
}
.cart-items img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.icon-button{
    margin-left: 5px;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}
.icon{
    border: 1px solid rgb(255, 0, 55);
    border-radius: 50%;
    padding: 10px;
    margin: 0;
    color: rgb(255, 0, 55);
}
.icon-button:hover{
    background: rgb(255, 0, 55);
    border-radius: 50%;
    
}

.icon-button:hover .icon{
    color: white;
    transition: 0.5s;
}


